body {
    margin: 0 0 0 0;
    overflow: hidden;
    height: 100%;
    background-color: #e3e1e1;
}
@media (min-width: 1281px) {
        /*body header*/
        header {
            height: 70px;
            margin-top: 0;
            background-color: white;
        }
        header a {
            background-color: transparent;
            text-decoration: none;
            color: black;
        }
        header li {
            list-style-type: none;
            float: left;
            display: block;
            opacity: 1;
            font: inherit;
        }
        header li:hover{
            background-color: darkgrey;
            opacity:0.9;
            border: hidden;
            cursor: pointer;
        }
        header nav {
            margin: 1.75% auto 0 25%;
            float: left;
        }
        header p {
            float: left;
            margin: 1% auto 0 20%;
            padding: 20px 0 10px 50px;
            font-family: inherit;
            font-size: 1.25em;
            font-weight: 600;
        }
        header nav span {
            height: 100%;
            width: 100%;
            padding: 25px 20px 10px 20px;
            vertical-align: bottom;
        }
        /*-end-*/
        /*body .content*/
        .content {
            height: 600px;
            margin: 0;
            margin-bottom:0;
            background-color: #404248;
        }
        .break hr{
            margin: 0 0 0 0;
            border-width:5px;
            border-style: solid;
            opacity: 0.5;
        }
        /*-end-*/
}
/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    //CSS
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    //CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    //CSS
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    //CSS
}