@media (min-width: 1281px) {
    .header {
        background-color: black;
        height: 65px;
    }

        .header a {
            background-color: transparent;
            text-decoration: none;
            color: #fff;
        }

        .header li {
            list-style-type: none;
            float: left;
            color: #fff;
            padding: 25px 20px 10px 20px;
            display: block;
            opacity: 1;
            font: inherit;
        }

        .header nav {
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 20px;
        }
}
/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    //CSS
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    //CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    //CSS
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    //CSS
}